{% extends 'base_publico.html' %}

{% block conteudo %}
<div class="hero bg-base-200 min-h-screen ">
    <div class="hero-content max-w-5xl flex-col gap-10 lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Cadastre-se já!</h1>
            <p class="py-6">
                        Gostaria de fazer parte de acessar a página? Cadastre-se para acessar nossos conteúdos e aproveitar todos os benefícios que o projeto Mellitus tem a oferecer!
            </p>
        </div>

        <div class="flex card bg-base-100 w-full max-w-[480px] h-[370px] shrink-0 shadow-2xl">
            <div class="card-body card-body flex flex-col items-center">
                <fieldset class="fieldset w-full max-w-sm">
                    <form action="/cadastro" method="POST" class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <label class="label">Nome</label>
                            <input type="text" name="nome" required class="input w-full" placeholder="Digite seu nome">
                        </div>
                        <div class="flex flex-col gap-2">
                            <label class="label">Email</label>
                            <input required type="email" name="email" class="input w-full" placeholder="Digite seu email">
                        </div>
                        <div class="flex flex-col gap-2">
                            <label class="label">Senha</label>
                            <input required type="password" name="senha" class="input w-full" placeholder="Crie uma senha">
                        </div>

                        <button type="submit" class="btn btn-primary mt-4">
                                    Cadastrar
                        </button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>


{% endblock %}