{% extends 'base.html' %}

{% block conteudo %}
    <div class="">
        <div class="hero bg-base-200 min-h-screen ">
            <div class="hero-content max-w-5xl flex-col gap-10 lg:flex-row-reverse">
                <div class="text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Faça login!</h1>
                    <p class="py-6">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                        quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p>
                </div>

                <div class="card bg-base-100 w-full max-w-[500px] max-h-[600px] shrink-0 shadow-2xl">
                    <div class="card-body card-body flex flex-col items-center">
                        <fieldset class="fieldset w-full max-w-sm">
                            <label class="label">Email</label>
                            <input type="email" class="input w-full " placeholder="Digite seu email" />

                            <label class="label">Senha</label>
                            <input type="password" class="input w-full" placeholder="Digite sua senha" />

                            <div><a class="link link-hover">Esqueceu sua senha?</a></div>
                            
                            <button class="btn btn-neutral mt-4 ">Entrar</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}